<div class="container-fluid">

    <app-navbar></app-navbar>

    <app-jumbotron></app-jumbotron>

    <app-navbar-bottom></app-navbar-bottom>

    <app-breadcrumb></app-breadcrumb>

    <div *ngIf="profile" class="row">
          
            <div class="col-md-10 offset-10">
              <button class="btn btn-danger" (click)="open()">Add Master</button>
            </div>
  
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="row">

        <div class="col-md-3" *ngFor="let user of users; let i = index">


                <div class="card" style="width: 18rem;">
                        <img style="width:100%;" src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
                        <div class="card-body">
                        <h5 class="card-title">{{user.name}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- <button (click)="goTo()" class="btn btn-primary">Go somewhere</button> -->
                        <a class="btn btn-primary" [routerLink]="[ '/dashboard',user.id]">Go somewhere</a>                        
                    </div>
                </div>
            

        </div>

    </div>

</div>