<!-- <div style="margin-left:32%;margin-top:5%;" class="col-md-4"> -->

  <div class="container-fluid bg-my">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">

          <br/>        
        <br/>        
        <br/>        
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="col-md-12 btn btn-danger">     <h1 > <i class="fa fa-google" aria-hidden="true"></i>            </h1>                    Gmail</button>
                </div>        
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="col-md-12 btn btn-success">      <h1 > <i class="fa fa-user" aria-hidden="true"></i>            </h1>                    Guest</button>
                </div>        
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="col-md-12 btn btn-primary">     <h1 > <i class="fa fa-facebook" aria-hidden="true"></i>            </h1>                    Facebook</button>
                </div>        
              </div>
              <br/>
          </div>
        </div>
          
      </div> 

      <div class="col-md-4">
        <br/>        
        <br/>        
        <br/>      
        
        <div class="panel panel-default">
          <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="col-md-12 btn btn-primary">     <h1 > <i class="fa fa-university" aria-hidden="true"></i>            </h1>                   School User Access</button>
                    </div>        
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="Username" name="username" ngModel #first="ngModel" />
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <input class="form-control" type="password" placeholder="Password" name="password" ngModel #first="ngModel" />
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="col-md-12 btn btn-primary">Login</button>
                </div>        
              </div>
            </form>
          </div>
        </div>
        
    
      </div>

    </div>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
  </div> 

