<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img width="100%" src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img width="100%" src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img width="100%" src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img width="100%" src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
    </div>
</div>