<div class="container">

  <br/>
  <br/>
  <br/>
  <div class="row">

    <div class="col-md-6">
      <div class="row">
          <input class="form-control" type="file" placeholder="file" name="file" id="file" ngModel #first="ngModel"            (change)="handleFileInput($event.target.files)"/>       
      </div>
      <div class="row">  
        <h1>Test</h1>
        <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="Girl in a jacket" width="500" height="450">

      </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <input class="form-control" type="file" placeholder="file" name="file" id="file" ngModel #first="ngModel"            (change)="handleFileInput2($event.target.files)"/>       
        </div>
        <div class="row">  
          <h1>Test</h1>
          <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="Girl in a jacket" width="500" height="450">

        </div>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <button class="btn btn-primary" >Compare</button>
    </div>
    <div class="col-md-5"></div>
  </div>
  <br/>
  <br/>

</div>