<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">&nbsp;</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="gotoHome()"> <i class="fa fa-home" aria-hidden="true"></i>            Home <span class="sr-only">(current)</span></a>
        </li>
        &nbsp;
        &nbsp;
        &nbsp;
        <li class="nav-item">
          <a class="nav-link" (click)="goTo()" > <i class="fa fa-user" aria-hidden="true"></i>            Area Personal</a>
        </li>
        &nbsp;
        &nbsp;
        &nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-briefcase" aria-hidden="true"></i> Cursos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="gotoCursos()">Cocina</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>